####
# Django 
####
*.log
*.pot
*.pyc
__pycache__/

# Настройки среды
.vscode/

# Результаты компиляции
*.pyc

# Библиотеки
.venv/
venv/

# База данных
db.sqlite3
migrations/

htmlcov/
.coverage
.pytest_cache