@import url(reset.css);

.slider-block{
    z-index: 1 !important;
}
#catalog{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.py-5{
    padding-top: 7rem!important;
    padding-bottom: 7rem!important;
}
.catalog-rect{
    height: 9.5rem;
    width: 9.5rem;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1.5rem;
    margin-right: 6rem;
}
#main-head-title{
    color:black;
    font-family: 'Roboto';
    font-style: normal;
	font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
}
#main-head-title:hover{
    color: red;
    font-size: 1.6rem;
}
.catalog-title, .product-title{
    color:black;
    font-family: 'Roboto';
    font-size: 100%;
    font-style: normal;
	font-weight: 300;
    text-decoration: none;
    margin: 0 auto;
}
.product-title{
    font-size: 110%;
}
.catalog-title:hover{
    font-size: 1.05rem;
    transition: 0.1s;
    color:red;
}
h2{
    color:black;
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-style: normal;
	font-weight: 700;
    text-decoration: none;
}
.col-1{
    width: 7.5%!important;
}
.col-2{
    width: 10%!important;
}
.col-3{
    width: 75%!important;
}
.sliders{
    margin: auto;
}
#btn-arrow{
    border: none;
    background: transparent;
    outline: none;
}
.slider-btn{
    width: 45px;
    height: 45px;
    background-color: #cfc3c3;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}
.slider-btn2{
    width: 100px;
    height: 100px;
    background-color: #cfc3c3;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}
.slider-next{
    right: -10px;
}
.product-rect{
    height: 23.75rem;
    width: 16rem;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1.5rem;
    margin-right: 6rem;
}
.product-img{
    width: 240px;
    height: 240px;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img img{
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
    margin: auto;
}
#btn-buy{
    width: 10rem!important;
    border: none;
    background: black;
    outline: none;
}
@media (min-width: 0px) {
    .py-5 {
        padding-top: 4.7rem!important;
        padding-bottom: 4.7rem!important;
    }
    .col-1{
        width: 0%!important;
    }
    .col-2{
        width: 30%!important;
    }
    .col-3{
        width: 60%!important;
    }
    .row{
        width: 100%!important;
    }
}

@media (min-width: 576px) {
    .py-5 {
        padding-top: 4.7rem!important;
        padding-bottom: 4.7rem!important;
    }
    .col-1{
        width: 0%!important;
    }
    .col-2{
        width: 18%!important;
    }
    .col-3{
        width: 75%!important;
    }
    .row{
        width: 100%!important;
    }
}

@media (min-width: 768px) {
    .py-5 {
        padding-top: 4.7rem!important;
        padding-bottom: 4.7rem!important;
    }
    .col-1{
        width: 0%!important;
    }
    .col-2{
        width: 13%!important;
    }
    .col-3{
        width: 80%!important;
    }
}

@media (min-width: 992px) {
    .py-5 {
        padding-top: 4.7rem!important;
        padding-bottom: 4.7rem!important;
    }
    .col-1{
        width: 10%!important;
    }
    .col-2{
        width: 13%!important;
    }
    .col-3{
        width: 75%!important;
    }
}

@media (min-width: 1200px) {
    .py-5 {
        padding-top: 5rem!important;
        padding-bottom: 5rem!important;
    }
}

@media (min-width: 1400px) {
    .py-5 {
        padding-top: 7rem!important;
        padding-bottom: 7rem!important;
    }
}