{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


<main>
    <div class="search-big-block">
        <form id="search_form_small" action="/search/" role="search" method="get" class="header-search-form">
            <input class="form-control input-lg" name="words" maxlength="50" placeholder="Поиск..." required="" type="search" data-trigger="manual" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="" data-original-title="" title="">
            <button class="header-search-button" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <i class="search-close fa fa-times" aria-hidden="true"></i>
    </div>
</main>

{% endblock %}