{% extends "store/base.html" %}
{% load static %}
{% block title %}Доставка{% endblock %}

{% block content %}
<main>
    <div class="container mt-5">
        <div class="delivery">
            <h1 class="mb-4" align="center">Доставка</h1>
            <p class="delivery-title">● Доставка осуществляется Почтой России.</p>
            <p class="delivery-title">● Стоимость доставки рассчитывается в зависимости от пункта назначения.</p>
            <p class="delivery-title">● По Якутску и с.Борогонцы возможна доставка или самовывоз.</p>
            <p class="delivery-title">● Срок обработки заказа 1-3 рабочих дня с момента оплаты заказа.</p>
            <p class="delivery-title">● После отправки посылки мы сразу сообщим вам трек-номер для отслеживания.</p>
            <p class="delivery-title">● Если прошло 3 рабочих дня, а вы не получили информацию о заказе, пожалуйста, свяжитесь с нами любым удобным способом:</p>
            <p class="delivery-title">✓ по электронной почте mail@mail.ru</p>
            <p class="delivery-title">✓ по номеру телефона +7 (914) 118-90-50</p>
            <p class="delivery-title">● При получении посылки с заказом проверяйте целостность упаковки, вес и содержимое.</p>
        </div>
    </div>
    <link rel="stylesheet" href="{%static 'store/css/support.css'%}">
</main>
{% endblock %}