{% extends "store/base.html" %}
{% load static %}
{% block title %}Помощь{% endblock %}

{% block content %}
<main>
    <div class="container mt-5" align="center">
        <div class="support">
            <p>Свяжитесь с нами, если у вас есть какие-либо вопросы.</p>
            <h1 class="mb-4">Контакты</h1>
            <h2>+7 (914) 118-90-50 <img class="whatsapp-icon" src="{%static '/store/img/whatsapp-icon.png'%}" alt=""></h2>
            <h2>mail@mail.ru</h2>
        </div>
    </div>
    <link rel="stylesheet" href="{%static 'store/css/support.css'%}">
</main>
{% endblock %}